header .navbar {
  padding-left: 15rem;
  padding-right: 15rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
}
header .navbar .container-fluid .navbar-brand {
  display: flex;
  font-weight: 600;
  font-size: 30px;
}
header .navbar .container-fluid .navbar-brand p {
  font-size: 30px;
}
header .navbar .container-fluid .collapse ul li a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22.5px;
  margin-right: 1rem;
  transition: 0.3s;
}
header .navbar .container-fluid .collapse ul li a:hover {
  color: rgb(16, 110, 234);
}

.up {
  width: 40px;
  height: 40px;
  background-color: rgb(16, 110, 234);
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 6px;
  z-index: 999;
  transition: 0.4s;
  cursor: pointer;
}
.up i {
  color: white;
  font-size: 19px;
  margin: 13px;
}
.up:hover {
  background-color: white;
}
.up:hover i {
  color: rgb(16, 110, 234);
}

#first {
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 45rem;
}
#first .container .row .col-lg-6 {
  margin-top: 18rem;
}
#first .container .row .col-lg-6 .title {
  display: flex;
}
#first .container .row .col-lg-6 .title h1 {
  display: flex;
  font-weight: 700;
  font-size: 48px;
}
#first .container .row .col-lg-6 h3 {
  font-weight: 400;
  font-size: 24px;
  color: rgb(85, 85, 85);
}
#first .container .row .col-lg-6 .btns {
  display: flex;
}
#first .container .row .col-lg-6 .btns .btn-primary {
  width: 180px;
  height: 44px;
  margin: 20px;
}
#first .container .row .col-lg-6 .btns .btn-primary p {
  font-weight: 500;
  font-size: 14px;
}
#first .container .row .col-lg-6 .btns .watchVideo {
  display: flex;
  margin: 20px;
}
#first .container .row .col-lg-6 .btns .watchVideo i {
  margin: 10px;
  font-size: 22px;
}
#first .container .row .col-lg-6 .btns .watchVideo p {
  margin: 10px;
  font-size: 16px;
  color: rgb(34, 34, 34);
  text-decoration: none !important;
}

#second {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
#second .container .row .col-lg-12 {
  margin-top: 20px;
  display: flex;
}
#second .container .row .col-lg-12 .services {
  width: 118px;
  height: 30px;
  text-align: center;
  border: 0.1px solid #d5d4d4;
  border-radius: 17px;
  margin: 0 auto;
  background-color: #e7e5e5;
}
#second .container .row .col-lg-12 .services p {
  color: rgb(16, 110, 234);
  font-weight: 700;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 20px;
}
#second .container .row .col-lg-12 .title {
  display: flex;
  margin: 0 auto;
}
#second .container .row .col-lg-12 .title .title-first {
  color: rgb(68, 68, 68);
  font-weight: 700;
  font-size: 32px;
}
#second .container .row .col-lg-12 .title .title-second {
  font-weight: 700;
  font-size: 32px;
  color: rgb(16, 110, 234);
  margin-left: 6px;
}
#second .container .row .col-lg-12 p {
  color: rgb(68, 68, 68);
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto;
  line-height: 24px;
}
#second .container .row .col-lg-4 {
  padding: 0;
}
#second .container .row .col-lg-4 .box {
  margin: 10px;
  border: 0.1px solid #e7e7e7;
  text-align: center;
}
#second .container .row .col-lg-4 .box .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  border: 0.1px solid #e3dddd;
  background-color: #f1f1f1;
  margin-top: 110px;
  padding: 15px;
}
#second .container .row .col-lg-4 .box .icon i {
  font-size: 25px;
  color: rgb(16, 110, 234);
}
#second .container .row .col-lg-4 .box h1 {
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
}
#second .container .row .col-lg-4 .box h1:hover {
  color: rgb(16, 110, 234);
}
#second .container .row .col-lg-4 .box p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 61px;
}

#third {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#third .container .row .col-lg-12 {
  margin-top: 20px;
  display: flex;
}
#third .container .row .col-lg-12 .services {
  width: 118px;
  height: 30px;
  text-align: center;
  border: 0.1px solid #d5d4d4;
  border-radius: 17px;
  margin: 0 auto;
  background-color: #e7e5e5;
}
#third .container .row .col-lg-12 .services p {
  color: rgb(16, 110, 234);
  font-weight: 700;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 20px;
}
#third .container .row .col-lg-12 .title {
  display: flex;
  margin: 0 auto;
}
#third .container .row .col-lg-12 .title .title-first {
  color: rgb(68, 68, 68);
  font-weight: 700;
  font-size: 32px;
}
#third .container .row .col-lg-12 .title .title-second {
  font-weight: 700;
  font-size: 32px;
  color: rgb(16, 110, 234);
  margin-left: 6px;
}
#third .container .row .col-lg-12 p {
  color: rgb(68, 68, 68);
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto;
  line-height: 24px;
}
#third .container .row .col-lg-3 .box {
  margin: 10px;
}
#third .container .row .col-lg-3 .box img {
  width: 100%;
}
#third .container .row .col-lg-3 .box h1 {
  font-weight: 700;
  font-size: 18px;
  margin: 20px;
  color: rgb(34, 34, 34);
}
#third .container .row .col-lg-3 .box p {
  color: rgb(170, 170, 170);
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
  margin: 20px;
}

#fourth {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f7f7f7;
}
#fourth .container .row .col-lg-12 {
  margin-top: 20px;
  display: flex;
}
#fourth .container .row .col-lg-12 .services {
  width: 118px;
  height: 30px;
  text-align: center;
  border: 0.1px solid #d5d4d4;
  border-radius: 17px;
  margin: 0 auto;
  background-color: #e7e5e5;
}
#fourth .container .row .col-lg-12 .services p {
  color: rgb(16, 110, 234);
  font-weight: 700;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 20px;
}
#fourth .container .row .col-lg-12 .title {
  display: flex;
  margin: 0 auto;
}
#fourth .container .row .col-lg-12 .title .title-first {
  color: rgb(68, 68, 68);
  font-weight: 700;
  font-size: 32px;
}
#fourth .container .row .col-lg-12 .title .title-second {
  font-weight: 700;
  font-size: 32px;
  color: rgb(16, 110, 234);
  margin-left: 6px;
}
#fourth .container .row .col-lg-12 p {
  color: rgb(68, 68, 68);
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto;
  line-height: 24px;
  margin-bottom: 20px;
}
#fourth .container .row .col-lg-6 {
  background-color: white;
  text-align: center;
}
#fourth .container .row .col-lg-6 .icon {
  width: 60px;
  height: 60px;
  border: 1.5px solid rgb(16, 110, 234);
  border-style: dashed;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 17px;
}
#fourth .container .row .col-lg-6 .icon i {
  font-size: 27px;
  color: rgb(16, 110, 234);
  margin: 12px;
}
#fourth .container .row .col-lg-6 h1 {
  color: rgb(119, 119, 119);
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
}
#fourth .container .row .col-lg-3 {
  background-color: white;
  text-align: center;
}
#fourth .container .row .col-lg-3 .icon {
  width: 60px;
  height: 60px;
  border: 1.5px solid rgb(16, 110, 234);
  border-style: dashed;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 17px;
}
#fourth .container .row .col-lg-3 .icon i {
  font-size: 27px;
  color: rgb(16, 110, 234);
  margin: 12px;
}
#fourth .container .row .col-lg-3 h1 {
  color: rgb(119, 119, 119);
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
}
#fourth .container .row .map {
  height: 400px;
  margin-top: 20px;
}
#fourth .container .row .form {
  height: 400px;
  padding: 25px;
  margin-top: 20px;
}

#fifth {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e5e5e5;
}
#fifth .container .row .col-lg-12 {
  text-align: center;
}
#fifth .container .row .col-lg-12 h1 {
  color: rgb(68, 68, 68);
  font-weight: 600;
  font-size: 24px;
}
#fifth .container .row .col-lg-12 p {
  margin-top: 20px;
}
#fifth .container .row .input-group {
  width: 600px;
  margin: 0 auto;
}

footer {
  padding-top: 2rem;
  background-color: white;
}/*# sourceMappingURL=style.css.map */